<article class="calculator-container">
	<div class="calculator-image">
		<img src="src/assets/images/bg1.jpg" alt="Snow" style="width:100%;">
	</div>
	<div class="calculator-fg">
		<section>
			<h1 class="idp-text_xxlarge" role="heading" tabindex="5"> independence services </h1>
			
			<a class="idp-link idp-link_toucheable idp-center calculator-link" role="link" tabindex="6" routerLink="/estimator" routerLinkActive="active"> Financial Independence Calculator </a>
			
			<h5 aria-roledescription="Our Service" tabindex="7"> independence exists to solve the critical financial issues facing our clients, 
				both large and small. Our unique approach is not only what differentiates us, 
				but also what makes us successful. We provide you with a financial independence 
				estimate using rigorous information and a very intelligent system to ensure close 
				approximations. Give our financial independence system a try or contact us to talk 
				to one of our experts.independence Services Financial Independence Calculator
			</h5>
		</section>
	</div>
</article>