<article class="brands-card-row mb32">
		<section class="brands-card-column">
	<section class="p4 brands-card">
		<div class="calculator-image">
			<img src="src/assets/images/meeting1.jpg" alt="Snow" style="width:100%;">
		</div>
		<div class="brands-fg">
				<section>
					<h1 class="idp-text_xxlarge" role="heading" tabindex="5">Brainstorming
							Branding & Positioning Analysis </h1>
					<a class="idp-link idp-link_toucheable idp-center -ml8" role="link" tabindex="6">Grow Your Business </a>
					<h5 aria-roledescription="Our Service" tabindex="7"> where to turn? Need help planning or executing your next project? Let us guide you. Any organization can move forward with small incremental changes, but building for the future in today’s rapidly evolving environment means taking bold chances and making insightful decisions.
					</h5>
				</section>
			</div>
	</section>
		</section>
		<section class="brands-card-column">
	<section class="p4 brands-card">
			<div class="calculator-image">
				<img src="src/assets/images/strategy1.jpg" alt="Snow" style="width:100%;">
			</div>
			<div class="brands-fg">
					<section>
						<h1 class="idp-text_xxlarge" role="heading" tabindex="5">Introductory Consultation </h1>
						<a class="idp-link idp-link_toucheable idp-center -ml8" role="link" tabindex="6">Achieve Your Goals </a>
						<h5 aria-roledescription="Our Service" tabindex="7"> We examine what organizations are doing to stay relevant and competitive in this fast-paced world, and which ones are doing it best. We then strategize using smart tools and global resources in order to understand the implications of every choice our clients can make. Get in touch to learn more about how this service can help you.
						</h5>
					</section>
				</div>
		</section>
		</section>
		<section class="brands-card-column">
		<section class="p4 brands-card">
				<div class="calculator-image">
					<img src="src/assets/images/meeting2.jpg" alt="Snow" style="width:100%;">
				</div>
				<div class="brands-fg">
						<section>
							<h1 class="idp-text_xxlarge" role="heading" tabindex="5">Strategic Planning Session</h1>
							<a class="idp-link idp-link_toucheable idp-center -ml8" role="link" tabindex="6">Expert Guidance </a>
							<h5 aria-roledescription="Our Service" tabindex="7"> With years of experience, our staff has the capabilities and expertise to take your business to the next level. At independence, we combine our insights and skills to transform your processes and strategies, and in turn, your company. We’re proud to help shape and improve how our clients structure and manage their business.
							</h5>
						</section>
					</div>
			</section>
			</section>
</article>
