@import "../../../../../../../styles.scss";
.brands-container {
    //@extend .idp-card_in_a_row;
    display: -webkit-inline-box;
    width: 33%;
    position: relative;
    top: 0px;
    bottom: 0px;
}

.brands-fg {
    
}
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }