<app-header></app-header>

<article class="progress-bar">
	<progress-bar
		[progress]="(progress/total)*100"
		[color-degraded]="{'0': '#00cbcb',  '15': '#f9c3d3', '25': '#fd8c8e'}">
	</progress-bar>
</article>

<ng-container *ngIf="visibility">
	<article class="est-card est-text est-centered">
		<ng-container *ngFor="let key of estimateEnums | keyvalue:customCompare; let myIndex = index; let isFirst = first; let isLast = last">
			<ng-container *ngFor="let key2 of key.value | keyvalue:customCompare; let myIndex1 = index; let isFirst1 = first; let isLast1 = last">
				<ng-container *ngIf="myIndex == i && myIndex1 == j">
					<h3 [innerHTML]="key.key.toString()"></h3>
					<p [innerHTML]="estimateEnums[key.key.toString()][key2.key.toString()]"></p>
					
					<section>
						<ng-container *ngIf="!isFirst || !isFirst1">
							<button class="est-button est-text" (click)="prevEntry(isFirst1)">prev</button>
						</ng-container>
						<input #input class="est-input" type="text">
						<ng-container *ngIf="!isLast || !isLast1">
							<button class="est-button est-text" (click)="nextEntry(key.key.toString(), key2.key.toString(),input.value, isLast1)">next</button>
						</ng-container>
						<ng-container *ngIf="isLast && isLast1">
							<button class="est-button est-text" (click)="getYearstoFI(key.key.toString(), key2.key.toString(),input.value)">submit</button>
						</ng-container>
					</section>

				</ng-container>
			</ng-container>
		</ng-container>
	</article>
</ng-container>

<ng-container *ngIf="!visibility && dispEstimate">
	<article>
		<section class="idp-card est-card est-text">
			<div class="est-card_row">
				<ng-container *ngFor="let item of dispEstimate">
					<div class="est-card_column">
						<div class="" [innerHTML]="item[0]"></div>
						<div class="est-text_xxlarge est-bold" [innerHTML]="item[1]"></div>
					</div>
				</ng-container>
			</div>
		</section>
		<section class="idp-card est-card est-text">
			<div class="est-card_row">
				<ng-container *ngIf="decreasedYFI != undefined">
					<ng-container *ngFor="let item of decreasedYFI">
						<div class="est-card_column">
							<div class="" [innerHTML]="item[0]"></div>
							<div class="est-text_xxlarge est-bold" [innerHTML]="item[1]"></div>
						</div>
					</ng-container>
				</ng-container>
			</div>
		</section>
		<section>
			<estimator-chart [importedEstimate]="exportEstimate" (outputEstimate)='getEstimate($event)'></estimator-chart>
		</section>
		
		<ng-container *ngIf="otherUsersdispEstimate != undefined">
			<section class="idp-card est-card est-text">
				<p>The data below is solely based on users that utilized this site</p>
				<div class="est-card_row">
					<ng-container *ngFor="let item of otherUsersdispEstimate">
						<div class="est-card_column">
							<div class="" [innerHTML]="item[0]"></div>
							<div class="est-text_xxlarge est-bold" [innerHTML]="item[1]"></div>
						</div>
					</ng-container>
				</div>
			</section>
		</ng-container>
		<section>
			<app-footer></app-footer>
		</section>
	</article>
</ng-container>
<ng-container *ngIf="visibility">
<article class="footer" style="position: fixed;">
	<app-footer></app-footer>
</article>
</ng-container>
