  
  /* Style the counter cards */
  .est-card {
    margin: auto;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    margin-bottom: 16px;
    text-align: center;
    background-color: #26211E;
  }

  .est-centered {
      position: fixed;
      top: 50%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
  }
  .est-button {
    background-color: #4CAF50; /* Green */
    border: none;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }

  .est-input {
    padding: 8px;
    margin: 0 8px;
  }

  .est-text {
    color: white;
  }

  .footer {
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
  }