  
  /* Style the counter cards */
  .est-card {
    margin: auto;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    margin-bottom: 16px;
    text-align: center;
    background-color: #5f5f5f;
  }

  .est-centered {
      position: fixed;
      top: 50%;
      left: 50%;
      /* bring your own prefixes */
      transform: translate(-50%, -50%);
  }
  .est-button {
    background-color: #00cbca; /* Green */
    border: none;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
  }

  .est-input {
    padding: 8px;
    margin: 0 8px;
  }

  .est-text {
    color: white;
  }

  .footer {
    bottom: 0;
    position: absolute;
    right: 0;
    left: 0;
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .est-column {
    float: left;
    width: 20%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .est-column_containe {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .est-column_containe:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .est-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #5f5f5f;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .est-column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }