.footer {
    position: relative;
    background-color: #26211E;
    color: white;
    bottom:0 !important;
    right: 0 !important;
    left: 0 !important;
    height:60px;
}

@media screen and (max-width: 400px) {
    .footer {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 10;
        bottom: 0;
        height: 30px !important;
    }
}

@media screen and (max-height: 1300) {
    .footer {
        position: fixed !important;
    }
}
@media screen and (max-height: 815) {
    .footer {
        height: 30px !important;
    }
}
@media screen and (max-width: 375) {
    .footer {
        height: 30px !important;
    }
}

.footer-center {
    justify-content: center;
}

.footer-text {
    color: white;
}